@model Dou.Models.UserBase
@{
    ViewBag.Title = "DouLoginError";
}
<div style="display:flex; justify-content:center; align-items:center; flex-direction:column;height:100%">
    <h3>@Model.Name 您好</h3>
    <h2><b style="color:red">系統目前測試中，尚未開放使用</b></h2>
</div>