/Scripts/gis
/Scripts/Dou
/bin/iHub.dll.config
/bin/iHub.pdb
/bin/iHub.dll
/bin/Dou.dll.config
/bin/Dou.pdb
/obj
/.vs
/iHub.csproj.user
/Properties/PublishProfiles
/Config/Menu.xml
/Upload
/Config/Menu.json
/logs
